click==7.1.2 ; python_version >= "3.8" and python_version < "4.0"
flask==1.1.4 ; python_version >= "3.8" and python_version < "4.0"
gunicorn==21.0.0 ; python_version >= "3.8" and python_version < "4.0"
itsdangerous==1.1.0 ; python_version >= "3.8" and python_version < "4.0"
jinja2==2.11.3 ; python_version >= "3.8" and python_version < "4.0"
jsonify==0.5 ; python_version >= "3.8" and python_version < "4.0"
markupsafe==2.0.1 ; python_version >= "3.8" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.8" and python_version < "4.0"
werkzeug==1.0.1 ; python_version >= "3.8" and python_version < "4.0"
